apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres
  namespace: {{ postgres_namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
        - name: postgres
          image: "{{ postgres_image }}"
          ports:
            - containerPort: {{ postgres_port }}
          env:
            - name: POSTGRES_DB
              value: "{{ postgres_db }}"
            - name: POSTGRES_USER
              value: "{{ postgres_user }}"
            - name: POSTGRES_PASSWORD
              value: "{{ postgres_password }}"
          volumeMounts:
            - name: postgres-storage
              mountPath: /var/lib/postgresql/data
      volumes:
        - name: postgres-storage
{% if postgres_persistence_enabled %}
          persistentVolumeClaim:
            claimName: postgres-pvc
{% else %}
          emptyDir: {}
{% endif %}
