apiVersion: v1
kind: Service
meta
  name: immich-api-svc
spec:
  selector:
    app: immich-api
  ports:
    - protocol: TCP
      port: {{ immich_api_port }}
      targetPort: {{ immich_api_port }}
---
apiVersion: v1
kind: Service
metadata:
  name: immich-server-svc
spec:
  selector:
    app: immich-server
  ports:
    - protocol: TCP
      port: {{ immich_server_port }}
      targetPort: {{ immich_server_port }}
