apiVersion: apps/v1
kind: Deployment
metadata:
  name: immich-server
  namespace: {{ immich_namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: immich-server
  template:
    metadata:
      labels:
        app: immich-server
    spec:
      containers:
        - name: server
          image: "{{ immich_server_image }}"
          ports:
            - containerPort: {{ immich_server_port }}
            - containerPort: {{ immich_api_port }}
          envFrom:
            - configMapRef:
                name: immich-env-config
          volumeMounts:
            - name: data-storage
              mountPath: {{ immich_storage_path }}
            - name: upload-storage
              mountPath: {{ immich_upload_path }}
          resources:
            requests:
              memory: "{{ immich_server_resources.requests.memory }}"
              cpu: "{{ immich_server_resources.requests.cpu }}"
            limits:
              memory: "{{ immich_server_resources.limits.memory }}"
              cpu: "{{ immich_server_resources.limits.cpu }}"
      volumes:
        - name: data-storage
          persistentVolumeClaim:
            claimName: immich-data-pvc
        - name: upload-storage
          persistentVolumeClaim:
            claimName: immich-upload-pvc
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: immich-ml
  namespace: {{ immich_namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: immich-ml
  template:
    metadata:
      labels:
        app: immich-ml
    spec:
      containers:
        - name: ml
          image: "{{ immich_machine_learning_image }}"
          envFrom:
            - configMapRef:
                name: immich-env-config
