apiVersion: v1
kind: Service
meta
  name: immich-nginx-svc
spec:
  type: LoadBalancer
  selector:
    app: immich-nginx
  ports:
    - protocol: TCP
      port: 80
      targetPort: {{ nginx_port }}

