apiVersion: batch/v1
kind: Job
metadata:
  name: immich-db-migrate-{{ 100000 | random }}
  namespace: "{{ immich_namespace }}"
  labels:
    app: immich-db-migrate
spec:
  template:
    metadata:
      labels:
        job: immich-db-migrate
    spec:
      restartPolicy: Never
      containers:
        - name: migrate
          image: "{{ immich_api_image }}"
          envFrom:
            - secretRef:
                name: "{{ immich_db_secret_name }}"
          # Теперь DATABASE_URL нужно собрать вручную, т.к. его нет в Secret
          env:
            - name: DATABASE_URL
              value: >-
                postgresql://$(DATABASE_USER):$(DATABASE_PASSWORD)@$(DATABASE_HOST):$(DATABASE_PORT)/$(DATABASE_NAME)?schema=public
          command:
            - sh
            - -c
            - |
              echo "Подключение к БД: $DATABASE_HOST:$DATABASE_PORT, БД: $DATABASE_NAME"
              echo "Выполнение миграций..."
              npx prisma migrate deploy --schema /app/packages/server/prisma/schema.prisma
              if [ $$? -eq 0 ]; then
                echo "✅ Миграции успешно применены."
                exit 0
              else
                echo "❌ Ошибка при выполнении миграций."
                exit 1
              fi
  backoffLimit: 0
