apiVersion: v1
kind: Secret
metadata:
  name: "{{ immich_db_secret_name }}"
  namespace: "{{ immich_namespace }}"
type: Opaque
data:
  # Все значения в base64 (Ansible закодирует автоматически через b64encode)
  DATABASE_USER: "{{ immich_postgres_user | b64encode }}"
  DATABASE_PASSWORD: "{{ immich_postgres_password | b64encode }}"
  DATABASE_NAME: "{{ immich_postgres_db | b64encode }}"
  DATABASE_HOST: "{{ immich_postgres_host | b64encode }}"
  DATABASE_PORT: "{{ (immich_postgres_port | string) | b64encode }}"
