apiVersion: apps/v1
kind: Deployment
meta
  name: immich-postgres
  namespace: {{ immich_namespace }}
  labels:
    app: immich
    component: postgres
spec:
  replicas: 1
  selector:
    matchLabels:
      app: immich
      component: postgres
  template:
    metadata:
      labels:
        app: immich
        component: postgres
    spec:
      containers:
      - name: postgres
        image: postgres:15-alpine
        env:
        - name: POSTGRES_USER
          valueFrom:
            secretKeyRef:
              name: immich-db-secret
              key: POSTGRES_USER
        - name: POSTGRES_PASSWORD
          valueFrom:
            secretKeyRef:
              name: immich-db-secret
              key: POSTGRES_PASSWORD
        - name: POSTGRES_DB
          valueFrom:
            secretKeyRef:
              name: immich-db-secret
              key: POSTGRES_DB
        ports:
        - containerPort: 5432
        volumeMounts:
        - name: postgres-storage
          mountPath: /var/lib/postgresql/data
      volumes:
      - name: postgres-storage
        persistentVolumeClaim:
          claimName: immich-postgres
---
apiVersion: v1
kind: Service
meta
  name: immich-postgres
  namespace: {{ immich_namespace }}
spec:
  selector:
    app: immich
    component: postgres
  ports:
    - protocol: TCP
      port: 5432
      targetPort: 5432
