apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: immich-data
  namespace: {{ immich_namespace }}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ immich_storage_size }}
  storageClassName: {{ immich_storage_class }}
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: immich-postgres
  namespace: {{ immich_namespace }}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: {{ immich_storage_class }}
