apiVersion: v1
kind: Secret
meta
  name: immich-db-secret
  namespace: {{ immich_namespace }}
type: Opaque
data:
  POSTGRES_USER: "{{ immich_db_user | b64encode }}"
  POSTGRES_PASSWORD: "{{ immich_db_password }}"
  POSTGRES_DB: "{{ immich_db_name | b64encode }}"
  DATABASE_URL: "postgresql://{{ immich_db_user }}:{{ immich_db_password | b64decode }}@{{ immich_db_host }}:{{ immich_db_port }}/{{ immich_db_name }}?sslmode=disable" | b64encode
