apiVersion: v1
kind: Secret
metadata:
  name: {{ migration_job_name }}-db-secrets
  namespace: {{ migration_job_namespace }}
type: Opaque
data:
  username: "{{ db_username | b64encode }}"
  password: "{{ db_password | b64encode }}"
  url: "{{ db_url | b64encode }}"
